@use "../Component/components";
@use "../default/default";

main {
    img {
        width: 100%;
        max-height: 645px;
        object-fit: cover;
    }

    h2 {
        @include components.Typography(400, 28px, 110%);
        text-align: center;
    }

    h6 {
        @include components.Typography(300, 15px, 110%);
        text-transform: uppercase;
    }

    p {
        @include components.Typography(300, 16px, 110%);
        margin: 1rem 0;
        max-width: 800px;
        text-align: center;
    }
}

a.active {
    color: default.$colorMain2 !important;
}