@use "../../default/default";

main {
    position: relative;
}
// banner
.banner-container {
    margin-bottom: 4rem;

    .carousel-item {
        img {
            max-height: 650px;
            object-fit: cover;
        }
    }
    .banner-showcase {
        top: 50%;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, -50%);
    }
}


// banner

// product
.product-container  {
    #productCarousel {
        .carousel-inner {
            max-width: 1200px;
        }
    }
    h2 {
        margin-bottom: 2.5rem;
    }
}

.product-card {
    max-width: 360px;
    img {
        width: 100%;
    }
}