// font-family: 'Josefin Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap');

// Colors
    // Primary
    $colorMain1: #282828;
    $colorMain2: #d2461c;
    $colorMain3: #afafaf;
    $colorMain4: #FFCDBE;

    // Neutral
    $neutral-100: #f8f9fa;
    $neutral-200: #e9ecef;
    $neutral-300: #dee2e6;
    $neutral-400: #ced4da;
    $neutral-500: #adb5bd;
    $neutral-600: #6c757d;
    $neutral-700: #495057;
    $neutral-800: #343a40;
    $neutral-900: #212529;
    $White: #fff;
    $Black: #000;

    // Status
    $colorActive: #cdecde;
    $colorExpire: #e8e9eb;
    $colorAlert: #ff4040;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif !important;
}