@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.wrapper-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.letter-space {
  letter-spacing: 0.4rem;
}

::placeholder {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 24% !important;
}

.primary-BTN {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 100% !important;
  all: unset;
  box-sizing: border-box;
  height: 40px;
  padding: 11px 48px;
  color: #fff;
  background-color: #282828;
  text-align: center;
}

.primary-BTN:hover {
  background-color: #d2461c;
  transition: ease 0.3s;
}

.secondary-BTN {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  line-height: 110% !important;
  all: unset;
  box-sizing: border-box;
  padding: 11px 32px;
  color: #282828;
  background-color: #fff;
  border: 1px solid #282828;
  text-align: center;
}

.secondary-BTN:hover {
  color: #afafaf;
  transition: ease 0.3s;
}

.secondary-BTN-dark {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  line-height: 110% !important;
  all: unset;
  box-sizing: border-box;
  padding: 11px 32px;
  color: #282828;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #282828;
  text-align: center;
}

.secondary-BTN-dark:hover {
  color: #fff;
  background-color: #282828;
  transition: ease 0.5s;
}

footer a {
  text-decoration: none;
}
footer a h2 {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 28px !important;
  line-height: 110% !important;
  color: #282828;
}
footer a h2:hover {
  color: #d2461c !important;
  transition: ease 0.3s;
}
footer .footer-line {
  width: 100%;
  height: 1px;
  background-color: #000;
}
footer p {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  line-height: 110% !important;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  max-width: 960px;
}
.info-container a {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 110% !important;
}
.info-container a:hover {
  color: #d2461c !important;
  transition: ease 0.2s;
}
.info-container .social-icon {
  width: 20px;
}

.subscribed-message {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 22px !important;
  line-height: 110% !important;
}

form input {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 120% !important;
  all: unset;
  width: 340px;
  padding: 9px 8px;
  border: 1px solid rgba(68, 68, 68, 0.6588235294);
  border-radius: 3px;
}
form #subEmail:hover, form :focus {
  border: 2px solid #000;
  border-radius: 3px;
  transition: ease 0.1s;
}
form ::placeholder {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 24% !important;
}
form button {
  all: unset;
  width: 154px !important;
}
form .error-shaking {
  animation: horizontal-shaking 0.5s ease;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=footer.css.map */