@import "../../../module_Packages/bootstrap/scss/bootstrap.scss";

::marker { content: ""; }

.nav-link {
    color: #282828 !important;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(1);
}